body{
    background-color: gainsboro;
}
h1,input{
    margin-bottom: 40px;
}
h1{
font-style:italic;
}

img{
    margin-top: 20px;
}
.inputbtn{
    border-bottom-width: 7px;
    border-bottom-color: black;
    border-right-width: 7px;
    border-right-color: black;
}

